.nav-title{
    color: #4E47FF;
     font-weight: 800;
    font-size: 45px;
    margin: 0 50px;
    height: 51px;
    width: 99;
}
.btn-primary{
    background-color:#4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 905;
    height: 237;
    font-size: 85px;
    text-align: center;
    gap: 37px;
}

 .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: repeat-x;
    
}
.banner-2{
    display: flex;
    justify-content: center;
    margin: 200px 280px;
   
}
.banner-content{
    max-width: 580px;
}
.banner-profile-picture{
   
    width: 503px;
    height: 380px;
    margin: auto;
    border-radius: 45px;
    
}
.banner-description{
 font-size: 24px;
 color: #43424d;

}
.container {
  background-color: #e8e9ff;
  border-radius: 16px;
  padding: 40px 60px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.container h2 {
  color: #1a1a1a;
  margin-bottom: 30px;
  font-size: 50px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.stat-box {
  text-align: center;
}

.number {
  font-size: 80px;
  font-weight: 100px;
  color: #5a59ff;
  padding: 50px 80px;
}

.label {
  font-size: 20px;
  color: #666;
  margin-top: 8px;
}


.taher{
  
   justify-content: center;
    border-radius: 10px;
    padding: 50px 80px;
    
    margin: 200px 200px;
}
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5px;
}
.section-title{

     /* color: #1a1a1a;
  margin-bottom: 30px; */
  font-size: 42px;
  padding: 114px 940px;
  color: #252432;
}